body    
    background-color #FEFF
header 
    span
        float left
        text-transform uppercase
        // margin-right 44px
        &.menu
            float:right
footer 
    ul 
        list-style none
        padding 0
        li 
            float left
            margin-right 18px